# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Local LiDAR dataset
dataset/*.bin

# Temporary files
*.tmp
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db